  <script type="text/javascript"
    src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.js"></script>
    <style type="text/css" title="currentStyle">
      @import "css/demo_page.css";
      @import "css/demo_table.css";
    </style>

<article class="object playlist">
  <h1><%= @playlist.name %> <small>(by <%= link_to @owner.name, @owner %>)</small></h1>
  <p class="details">
    <% @playlist.subscribers.join(', ') %>
    <strong>
      <%= @playlist.total_subscribers %> subscribers in total.
    </strong>
  </p>
</article>

<table id="example">
        <thead>
        <tr>
            <th>Track</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Artist Hotttnesss</th>
            <th>Artist Familiarity</th>
            <th>Danceability</th>
            <th>Energy</th>
            <th>Tempo</th>
            
        </tr>
    </thead>
       <% @tracks.each do |track| %>
       <tr id>
        <td>
          <%= link_to "#{track.name}", track %>
        </td>

        <td>
          <%= link_to "#{track.album.name}", track.album %>
        </td>

        <td>
          <%= link_to "#{track.artist.name}", track.artist %>
        </td>

        <td hotttnesss=<%= "#{get_echo_nest_id(track)}" %>></td>

        <td familiarity=<%= "#{get_echo_nest_id(track)}" %>></td>

        <td danceability=<%= "#{get_echo_nest_id(track)}" %>></td>

        <td energy=<%= "#{get_echo_nest_id(track)}" %>></td>

        <td tempo=<%= "#{get_echo_nest_id(track)}" %>></td>

        </tr>

      <% end %>

</table>
 <script type="text/javascript">
 
$(document).ready( function() {
 
    $('#example').dataTable( {
    "bScrollInfinite": true,
    "bPaginate": false,
    "sScrollX": "100%",
    "sScrollXInner": "100%",
    "sScrollY": "800px"
  } )  

function fill_row_with_echo_nest_data(ec_id){
  return function(json,textStatus){
    try
    {
    $('td[hotttnesss="' + ec_id + '"]').text(json.response.songs[0].artist_hotttnesss.toPrecision(3))
    $('td[familiarity="' + ec_id + '"]').text(json.response.songs[0].artist_familiarity.toPrecision(3))
    $('td[danceability="' + ec_id + '"]').text(json.response.songs[0].audio_summary.danceability.toPrecision(3))
    $('td[energy="' + ec_id + '"]').text(json.response.songs[0].audio_summary.energy.toPrecision(3))
    $('td[tempo="' + ec_id + '"]').text(json.response.songs[0].audio_summary.tempo.toPrecision(3))
    }
    catch(err)
    {
    $('td[hotttnesss="' + ec_id + '"]').text("")
    $('td[familiarity="' + ec_id + '"]').text("")
    $('td[danceability="' + ec_id + '"]').text("")
    $('td[energy="' + ec_id + '"]').text("")
    $('td[tempo="' + ec_id + '"]').text("")      
    }
  };
};


 $(document).ajaxStop(function () {
   $('#example').dataTable( {
    "bScrollInfinite": true,
    "bPaginate": false,
    "sScrollX": "100%",
    "sScrollXInner": "100%",
    "sScrollY": "800px",
    "bDestroy": true
  } )
        });
var oTable = $('#example').dataTable(); 
en_url =  "http://developer.echonest.com/api/v4/song/profile?api_key=WYPYQRU4DH3HWKZUI&format=json&track_id="
  
  for (i=0;i<gon.echo_nest_ids.length;i++)
  {
    ec_id = gon.echo_nest_ids[i]
    $.getJSON(en_url + ec_id + '&bucket=audio_summary&bucket=artist_familiarity&bucket=artist_hotttnesss',
     fill_row_with_echo_nest_data(ec_id) 
     );
  }
});
</script>